<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Infos</title>
</head>
<body>

<h1>Patient Infos</h1>

<table>
    <thead>
    </thead>
    <tr>
        <td>Family</td>
        <td th:text="${patientInfos.family}"></td>
    </tr>
    <tr>
        <td>Given</td>
        <td th:text="${patientInfos.given}"></td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td th:text="${patientInfos.dob}"></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td th:text="${patientInfos.sex}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td th:text="${patientInfos.address}"></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td th:text="${patientInfos.phone}"></td>
    </tr>
</table>

<p th:if="${#lists.isEmpty(patientNotes)}">
    No note yet for this patient
</p>

<!-- <div th:unless="${#lists.isEmpty(patientNotes)}"> -->
<!--      <table> -->
<!--         <tr th:each="note : ${patientNotes}"> -->
<!--             <td th:text="${note.recommendations}"></td> -->
<!--         </tr> -->
<!--      </table> -->
<!-- </div>  -->

<div th:each="note : ${patientNotes}">
<pre th:text="${note.recommendations}"></pre>
</div>
        
<textarea rows="8" cols="120" name="recommendation" form="noteform">
</textarea>   
<form method="POST" type="text" th:action="@{/patient/addNote(id=${patientInfos.id})}" id="noteform">
 <button type="submit" name="action" value="submitnote">Submit</button>
</form>
    

<a th:href="@{/patient/delete(id=${patientInfos.id})}" type="button" class="btn btn-danger" >Delete Patient</a>

<p>
    <a style="font-weight: bold;" th:href="@{/patient/list}"> Back to patients list</a>
</p>

</body>
</html>